@import url('https://fonts.googleapis.com/css2?family=Timmana&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'timmana', sans-serif;
}

body {
    min-width: 100%;
    width: fit-content;
    min-height: 100vh;
    height: fit-content;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #0a0a0a, #3a4452);
}

.calculator {
    border: 1px solid #717377;
    padding: 20px;
    border-radius: 15px;
    background-color: transparent;
    box-shadow: 0px 3px 15px rgba(113, 115, 119, 0.5);
}

input {
    width: 320px;
    border: none;
    padding: 24px;
    margin: 10px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(84, 84, 84, 0.1);
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    color: #fff;
}

input ::placeholder {
    color: white;

}

button {
    border: none;
    height: 60px;
    width: 60px;
    margin: 10px;
    border-radius: 50%;
    background: transparent;
    color: #fff;
    font-size: 20px;
    box-shadow: -8px -8px 15px rgba(225, 225, 225, .1);
    cursor: pointer;

}

.eql-btn {
    background-color: rgba(222, 83, 3, 0.7);

}

.operator {
    color: rgb(23, 147, 23);
}

.calculator div {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

@media only screen and (max-width: 450px) {

    .calculator {
        padding: 2px;
    }

    input {
        padding: 2px;
        width: 100%;
        margin: 2px;
    }

    button {
        height: 60px;
        width: 60px;
        margin: 3px;
    }
}